/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1em;
}

.logo {
  font-size: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.logo a {
  text-decoration: none;
  color: var(--white);
}

.navigation a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  margin-left: 2rem;
}

.navigation ul {
  list-style-type: none;
}

.fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .navigation a {  
    margin-left: 0;
    font-size: 1.25em;
    padding-right: 1em;
  }

  .navigation ul {
    padding: 0;
  }

  .peraButton {
    font-size: 0.8em;
  }
} */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1em;
}

.navbar {
  position: relative;
}

.logo {
  font-size: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}

.menuIcon {
  display: none;
}

.navElements {
  background-color: var(--gray);
  position: relative;
  z-index: 500;
  border-right: 1px solid var(--black);
}

.navElements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navElements ul li:not(:last-child) {
  margin-right: 60px;
}

.navElements ul a {
  font-size: 1.25em;
  font-weight: 400;
  text-decoration: none;
}

.navElements ul a.active {
  font-weight: 500;
  position: relative;
}

.navElements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
}

@media (max-width: 768px) {
  .navElements ul li:not(:last-child) {
    margin-right: 30px;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .navElements {
    position: absolute;
    left: 0;
    top: 60px;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .navElements.active {
    width: 200px;
  }

  .navElements ul {
    display: flex;
    flex-direction: column;
  }

  .navElements ul li {
    margin-right: unset;
    margin-top: 22px;
    text-align: left;
  }

  .logo {
    display: none;
  }
}
